<div [ngClass]="'wrapper'">
  <h1>{{ title | uppercase }}</h1>
  <div [ngClass]="'container'">
    <div *ngFor="let row of board; index as rowIndex" [ngClass]="'rows'">
      <div *ngFor="let item of row; index as itemIndex" [ngClass]="'item'">
        <div>
          <ng-container [ngSwitch]="board[rowIndex][itemIndex]">
            <button
              [disabled]="winner !== null"
              *ngSwitchCase="null"
              (click)="nextStep(rowIndex, itemIndex)"
            >
              click
            </button>
            <p *ngSwitchDefault>{{ item? 'X' : 'O' }}</p>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <button [ngClass]="'resetButton'" (click)="reset()">resset</button>
  <h2 *ngIf="winner !== null">Congrats {{ winner? 'X' : 'O' }} has won!!!</h2>
</div>
